*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: #fff;
    overflow-x: hidden;
}

/*MUSIC*/
.home{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
}

.home::before{
    position: absolute;
    background-attachment: fixed;
    background-image: url("images/bg1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    content: "";
    height: 100%;
    width: 100%;
    z-index: -1;
}

.home h1{
    font-family: 'Kaushan Script', cursive;
    font-size: 9.5vw;
    padding-top: 25vw;
    text-align: center;
    color: #fff;
    z-index: -1;
}

/*NAVBAR*/
.navb{
    background-color: #333;
    width: 100%;
    position: fixed;
    position: absolute;
    z-index: 999;
}

.navb a{
    display: inline-block;
    color: #fff;
    border: 3px solid transparent;
    font-size: 2vw;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 0.3;
    padding: 1.8vw 7.5vw; 
    border-left: 1.5px solid #666;
    border-right: 1.5px solid #666;
    margin-left: 0.3vw;
    text-decoration: none;
    position: relative;
    transition: 0.3s;
}

.navb a:hover{
     -webkit-animation: change infinite 1s;
}

/*ABOUT*/
.history{
    width: 100%;
    background-color: #fff;
}

.history iframe{
    height: 40vw;
    width: 70.5vw;
    margin-left: 15vw;
    margin-top: 12vw;
    margin-bottom: 5vw;
}

.history h2{
    font-family: 'Rowdies', cursive;
    font-size: 7vw;
    color: #000;
    text-align: center;
}

.history h1{
    font-family: 'Piedra', cursive;
    font-size: 10vw;
    color: #000;
    text-align: center;
    padding-top: 1.5vw;
    padding-bottom: 5vw;
    letter-spacing: 0.5vw;
}

.music{
    width: 100%;
    background-color: #bababa;
}

.music .img1{
    background-image: url(images/first2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 33vw;
    width: 48vw;
    margin-left: 0;
    opacity: 0.4;
}

.music .img{
    background-color: #000;
}

.music .img .img2{
    background-image: url(images/harry.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 33vw;
    width: 53vw;
    opacity: 0.7;
    z-index: -1;
    cursor: pointer;
}


.music h3{
    color: #ffe854;
    font-size: 10vw;
    padding-top: 20vw;
    padding-left: 13vw;
    transition: 0.4s;
    opacity: 0;
}

.music .img .img2:hover > h3{
    opacity: 1;
}

/*BAND*/
.band{
    width: 100%;
    background-color: #333;
}

.bg{
    background-image: url(images/oned.jpg);
    height: 46vw;
    width: 48vw;
    background-size: cover;
    transition: 0.4s;
}

.bg:hover{
    background-image: url(images/oned5.jpg);
    background-size: cover;
    background-position: center;
    height: 46vw;
    width: 48vw;
}

.wheel iframe{
    margin-top: -40vw;
    margin-left: 55vw;
    border: 2px solid #fff;
    border-radius: 50%;
}

.tour{
    width: 100%;
}



/*ANIMATIONS*/
@keyframes change {
  1%   {color: aqua;}
  25%  {color: blueviolet}
  40%  {color: chartreuse}
  60% {color: #ff3399;}
  80% {color:#cc00cc;}
  100%{color:#0000ff;}
}