*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: #fff;
    overflow-x: hidden;
}

/*HOME*/
.home{
    width: 100%;
    height: 52vw;
    background-color: rgba(0,0,0,0.6);
}

.home::before{
    position: absolute;
    background-attachment: fixed;
    background-image: url("images/bg1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    content: "";
    height: 52vw;
    width: 100%;
    z-index: -1;
}

.home h1{
    font-family: 'Kaushan Script', cursive;
    font-size: 9.5vw;
    padding-top: 25vw;
    text-align: center;
    color: #fff;
    z-index: -1;
}

/*NAVBAR*/
.nav{
    background-color: #333;
    width: 100%;
    position: fixed;
    position: absolute;
    z-index: 999;
}

.nav a{
    display: inline-block;
    color: #fff;
    border: 3px solid transparent;
    font-size: 2vw;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 0.3;
    padding: 1.8vw 7.5vw; 
    border-left: 1.5px solid #666;
    border-right: 1.5px solid #666;
    margin-left: 0.48vw;
    text-decoration: none;
    position: relative;
    transition: 0.3s;
}

.nav a:hover{
     -webkit-animation: change infinite 1s;
}

/*ABOUT*/
.history{
    width: 100%;
    background-color: #fff;
}

iframe{
    height: 40vw;
    width: 70vw;
    margin-left: 15vw;
    margin-top: 12vw;
    margin-bottom: 5vw;
}

/*ANIMATIONS*/
@keyframes change {
  1%   {color: aqua;}
  25%  {color: blueviolet}
  40%  {color: chartreuse}
  60% {color: #ff3399;}
  80% {color:#cc00cc;}
  100%{color:#0000ff;}
}